extends base

block content
    .list__jobs
        each job in jobs
            -const date = new Date(Date.now() + job.expiry * 24 * 60 * 60 * 1000).toDateString();
                .job
                    h1.company__name #{job.companyName}
                    .job__description
                        p.job__element.span__position
                            span.span__element position: 
                            | #{job.position}
                        p.job__element
                            span.span__element expiration: 
                            |  #{date}
                        p.job__element
                            span.span__element location: 
                            |  #{job.locationName}
                    p.job__element.job__summary
                        span.span__element description: 
                        | #{job.description}
                    .upload
                        form.job__form
                            label.span__element.form__label(for='resume')
                                | Upload Resume:
                            input#resume.job__input(type='file' name='')
                        button.submit__btn submit
                    